html{
  cursor:sw-resize;
}

body{
    background-color: gray;
}
canvas{
   border: 5px solid black;
   margin:auto;
   margin-top: 1%;
  display: block;
}
#range{
  display:inline;
}
#eraser{
  display:inline;
  background-color: white;
  border: 2px solid black;
}
h1{
  display:inline;
  background-color: lightblue;
  border: 2px solid black;
  color:yellow;
  -webkit-text-stroke: 1px rgb(22,22,223);
}
